*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aquamarine;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 20%;
    border: none;
    box-shadow: rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: brown;
}
.btn{
    padding: 16px;
    font-size: 2vmin;
    border-radius: 16px;
    border: none;
    box-shadow: rgba(0,0,0,0.5);
    background-color:bisque;
    color:cornflowerblue;
}
.new-btn{
    padding: 16px;
    font-size: 2vmin;
    border-radius: 16px;
    border: none;
    box-shadow: rgba(0,0,0,0.5);
    background-color:bisque;
    color:cornflowerblue;
}
.msg{
     font-size: 5vmin;
}
.msg-container{
 height: 15vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}